List((
    texture_width: 204,
    texture_height: 102,
    sprites: [
        (
            x: 1,
            y: 1,
            width: 100,
            height: 100,
        ),
        (
            x: 103,
            y: 1,
            width: 100,
            height: 100,
        ),
    ],
))